*{
    cursor: url('/course/icons8-cursor.svg'), auto;
}
body{
    
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Josefin Sans', sans-serif;

}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

.header--name{
    font-family: 'Chillax-Regular';
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

.main{
    padding: 40px;
    padding-bottom: 0px;
}

.main--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    max-width: 50%;
    background: rgb(217, 203, 203);
    margin: 50px 160px 0px 160px;
    padding: 150px;
    background-image: url(/image/banner.jpg);
    -webkit-box-shadow: 12px -11px 28px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 12px -11px 28px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 12px -11px 28px 0px rgba(0, 0, 0, 0.3);

}

.enter{
    font-weight: 900;
}

.enter:hover{
    opacity: 0.6;
    cursor: revert;
}

.regist{
    font-weight: 700;
}

.regist:hover{
    opacity: 0.6;
    cursor: revert;
}